@import url("/stylesheets/DayPosterBlack-fontfacekit/stylesheet.css");
body { background: url(/images/background.jpg) top center no-repeat #000; }
#container { width: 856px; margin: 0 auto; position: relative; padding-top: 4em; }
#content { width: 640px; margin: 0 auto; }
#video { width: 640px; margin: 2em auto 2em; }
#chatroom { width: 856px; height: 478px; background: url(/images/content.jpg) no-repeat 0 0; overflow: hidden; margin: 0 auto; padding: 1em 2em; }
#search { width: 400px; text-align: center; margin: 0 auto 2em; }
#search_results { width: 660px; margin: 0 auto; }
.search_term, .tagline { text-align: center; }
.thumbnail { width: 180px; height: 150px; float: left; text-align: center; overflow: hidden; background: white; padding: 10px; margin: 10px; }
.thumbnail a, .search_term, .tagline { font-family: DayPosterBlackRegular, Arial, sans-serif; color: black; text-decoration: none; }
a img { border: none; }
img.poster { max-height: 200px; float: left; padding-right: 1em; }
#description { color: #bbb; width: 640px; padding-top: 1em; }
