<div style="text-align: center; padding-top: 4em;">
  <h1><%= @video.title %></h1>
<% unless @screens.empty? %>
  <p>Now playing in rooms:</p>
  <ul>
  <% for screen in @screens %>
    <li><%= link_to screen.uuid, auditorium_screen_path(@video.permalink, :screen => screen.uuid) %></li>
  <% end %>
<% end %>
  </ul>
  <p><%= link_to 'Create a New Showing', auditorium_path(@video.permalink), :method => :post %>
</div>
